<?xml version="1.0"?>
<rss xmlns:g="http://base.google.com/ns/1.0" version="2.0">
<channel>
<title>Test Store</title>
<link>http://www.example.com</link>
    <description>An example item from the feed</description>
    <item>
        <g:id><![CDATA[DB_1]]></g:id>
        <g:title><![CDATA[Blue Wellingtons]]></g:title>
        <g:description><![CDATA[The Burford Wellington Boots are made from lightweight PVC and are fully lined inside for extra comfort.]]></g:description>
        <g:link><![CDATA[http://www.example.com/bowls/db-1.html]]></g:link>
        <g:image_link><![CDATA[http://images.example.com/DB_1.png]]></g:image_link>
        <additional_image_link><![CDATA[http://images.example.com/DB_2.png]]></additional_image_link>
        <additional_image_link><![CDATA[http://images.example.com/DB_3.png]]></additional_image_link>
        <g:brand><![CDATA[Example]]></g:brand>
        <g:condition><![CDATA[new]]></g:condition>
        <g:availability><![CDATA[in stock]]></g:availability>
        <g:price>59 PLN</g:price>
        <g:sale_price>49 PLN</g:sale_price>
        <product_type><![CDATA[Shoes > Wellingtons]]</product_type>
        <g:google_product_category><![CDATA[Apparel & Accessories > Shoes]]></g:google_product_category>
        <g:gender><![CDATA[ unisex ]]></g:gender>
        <g:custom_label_0><![CDATA[ Shoes ]]></g:custom_label_0>
        
    </item>
</channel>
</rss>

Required parameters: 

condition - new, refurbished, used (string)
price - eg. 10.50 PLN - use dot, not comma as decimal separator (string)
link - url to product (string)
image_link - url to image (string)
brand - brand name (string)
product_type 

Optional parameters:
additional_image_link - url to image (string)
color - royal blue
gender - female, male, unisex
google_product_category - category by google https://www.google.com/basepages/producttype/taxonomy-with-ids.en-US.txt
fb_product_category - category by facebook https://www.facebook.com/business/help/526764014610932?id=725943027795860
sale_price - eg. 10.50 PLN - use dot, not comma as decimal separator (string)
custom_label_x - x from 1 to 4, custom label (string)

